@use "index" as *;

.wrapper {
  max-width: 1110px;
  margin-inline: auto;
  font-family: "Barlow", sans-serif;

  @include tablet {
    max-width: 100%;
  }

  header {
    padding-inline: 40px;
    margin: 55px 0 83px;

    @include tablet {
      margin: 40px 0 62px;
    }
  }

  main {
    section {
      flex-wrap: wrap;
    }

    section:first-child {
      margin-bottom: 30px;
      padding-left: 40px;

      .typemaster-introduction {
        max-width: 445px;

        h2 {
          @include heading(56px, 56px);
          margin-bottom: 24px;
        }

        p {
          margin-bottom: 40px;
          font-weight: 500;
          color: $light-navy;
          font-size: 18px;
          line-height: 26px;
        }

        button {
          margin-right: 40px;
        }

        span {
          color: $light-navy;
          font-size: 16px;
          font-weight: 700;
          line-height: 26px;
          text-transform: uppercase;
        }

        @include tablet {
          h2 {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 34px;
            max-width: 339px;
          }

          p {
            margin-bottom: 39px;
            max-width: 339px;
          }

          button {
            margin-right: 37px;
          }

          img {
            width: 321px;
            height: 425px;
            object-fit: cover;
            object-position: left;
          }
        }
      }

      @include mobile {
        margin-bottom: 40px;
        row-gap: 64px;
        justify-content: center;

        img {
          width: 372px;
          height: 331px;
        }
      }
    }

    section:nth-child(2) {
      margin-bottom: 72px;

      .side {
        margin-inline: 30px 125px;
      }

      .mechanical-keyboard {
        max-width: 255px;

        h4 {
          @include heading(32px, 36px);
          margin-bottom: 27px;
        }

        p {
          font-weight: 500;
          color: $light-navy;
          font-size: 15.99px;
          line-height: 26px;
        }
      }

      @include tablet {
        padding-inline: 40px;
        justify-content: center;
        row-gap: 72px;

        img {
          height: 320px;
          object-fit: cover;
          border-radius: 20px;
        }

        img:first-child {
          width: 214px;
        }

        img:last-of-type {
          width: 445px;
          margin-right: 0;
        }

        .mechanical-keyboard {
          max-width: 689px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h4 {
            max-width: 255px;
            margin-bottom: 0;
          }

          p {
            max-width: 398px;
          }
        }
      }

      @include mobile {
        .mechanical-keyboard {
          flex-direction: column;
          justify-content: center;
          text-align: center;
          row-gap: 24px;
        }

        img {
          height: 193px;
        }

        img:first-child {
          width: 129px;
        }

        img:last-of-type {
          width: 220px;
        }
      }

      @include sm-mobile {
        padding-left: 0;

        img:first-child {
          width: 107px;
          object-fit: cover;
          object-position: left;
        }
      }
    }

    section:last-child {
      margin-bottom: 128px;

      .feature {
        max-width: 255px;

        img {
          margin-bottom: 48px;
        }

        h5 {
          @include heading(24px, 28px);
          margin-bottom: 24px;
          max-width: 185px;
        }

        p {
          font-weight: 500;
          color: $light-navy;
          font-size: 15.99px;
          line-height: 26px;
        }
      }

      @include tablet {
        padding-inline: 40px;
        margin-bottom: 142px;
        row-gap: 72px;
      }

      @include mobile {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .feature {
          h5 {
            max-width: 100%;
          }
        }
      }
    }
  }

  footer {
    p {
      color: $light-navy;
      font-size: 16px;
      margin-bottom: 39px;
      line-height: 26px;
      text-align: center;

      span {
        font-weight: 700;
      }
    }
  }
}
